html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --page-bg-color: #f5f5f7;
  --gradient-start: #f7a2a1;
  --gradient-end: #ffed00;
  --avatar-border-color: #ffffff40;
  --button-color: #5fc52e;
  --button-color: #3eb489;
  --field-border-color: #d5d5d7;
  --field-radius: 4px;
  --radius: 12px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--page-bg-color);
}

.registration{
  display: flex;
  width: 800px;
}

